<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<!--This value will be edited by script-->
					<string></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<!--Update if you use it otherwise current value is ok-->
					<string>https://</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<!--Update if you use it otherwise current value is ok-->
					<string>https://</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<!--TODO 1 Insert bundle identifier that never changes-->
				<string></string>
				<key>bundle-version</key>
				<!--Bundle version will be edited by script-->
				<string></string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<!--TODO 2 Insert app title that never changes-->
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
